In [ ]:
# Импорт необходимых библиотек
import pandas as pd
import sqlite3

In [ ]:
# Создадим базу данных с которой будем работать

conn = sqlite3.connect('sqlite3.db')

In [ ]:
# Напишите функцию которая скачивает lданные с гитхаба
# Функция принимает на вход дату
# Функция должна вернуть список словарей или датафрейм, можно(лучше) использовать можно использоват pandas.read_csv()

# С помощью этой функции вы считаете данные по 2 ссылкам
# ссылка на гитхаб с курсами валют - https://github.com/datanlnja/airflow_course/tree/main/excangerate/2021-01-01.csv
# ссылка на гитхаб с данными о продажах - https://github.com/datanlnja/airflow_course/tree/main/data/2021-01-01.csv

def extract_data(url, date):
    # Собираем полный путь к файлу на GitHub
    full_url = f"{url}/{date}.csv"

    # Используем pandas для чтения CSV-файла
    try:
        df = pd.read_csv(full_url)
        return df
    except Exception as e:
        print(f"Ошибка при чтении данных с {full_url}: {e}")
        return None

In [ ]:
# Напишите функцию которая принимает на вход список пандас датафрейм
# и загружает в табличку в sqlite, можно использоват pandas.to_sql()

def insert_to_db(data, table_name, conn):
    try:
        # Используем цикл для вставки каждого датафрейма в базу данных
        for df in data:
            df.to_sql(table_name, conn, index=False, if_exists='append')

        print(f"Данные успешно загружены в таблицу {table_name}")
    except Exception as e:
        print(f"Ошибка при вставке данных: {e}")

In [ ]:
# Напишите функцию которая обюъединит данные по ключу или паре ключей
# На выходе возвращает данные, рекомендую использовать pandas.DataFrame

def merge_data(data1, data2, key):
    try:
        merged_data = pd.merge(data1, data2, on=key)
        return merged_data
    except Exception as e:
        print(f"Ошибка при объединении данных: {e}")
        return None

In [ ]:
# Запустите ваш код в функции main

# Напишите генерацию дат, так чтобы у вас получился список
# 2021-01-02, 2021-01-03 ... etc
# Нужны даты с 2021-01-01 по 2021-01-04

dates_list = ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04']

def main(date, conn):
    # Выгружаем данные по валютам и из источника
    print()
    currency = extract_data('https://raw.githubusercontent.com/datanlnja/airflow_course/main/excangerate', date)
    data = extract_data('https://raw.githubusercontent.com/datanlnja/airflow_course/main/data', date)

    # Объединяем данные в 1 таблицу
    mg_data = merge_data(currency, data, key='date')

    # Вставляем данные в БД в таблицу data
    insert_to_db([mg_data], 'data', conn)

# Пройдемся по списку дат и выполним скрипт
for date in dates_list:
    main(date, conn)

Данные успешно загружены в таблицу data

Данные успешно загружены в таблицу data

Данные успешно загружены в таблицу data

Данные успешно загружены в таблицу data

In [ ]:
# чтобы првоерить решение можете обратиться к вашей базе данных таким образом

import sqlite3

# Создаем подключение к базе данных
conn = sqlite3.connect('sqlite3.db')

# Создаем курсор для выполнения SQL-запросов
cursor = conn.cursor()

# Выполняем запрос к таблице
cursor.execute("SELECT * FROM data")

# Извлекаем все строки из результата запроса
rows = cursor.fetchall()

# Выводим результаты
for row in rows:
    print(row)

# Закрываем соединение
conn.close()

('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 38)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 65)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 74)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 42)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 23)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 48)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 86)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 74)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 24)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 27)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 71)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 39)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 94)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 45)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 3)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 49)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 96)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 36)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 100)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 93)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 56)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 40)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 23)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 2)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 23)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 35)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 41)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 20)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 90)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 38)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 88)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 57)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 39)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 51)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 33)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 68)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 38)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 65)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 74)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 42)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 23)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 48)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 86)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 74)
('2021-01-01', 'eur', 'usd', 1.21, 'EUR', 24)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 27)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 71)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 39)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 94)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 45)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 3)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 49)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 96)
('2021-01-02', 'eur', 'usd', 1.22, 'EUR', 36)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 100)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 93)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 56)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 40)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 23)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 2)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 23)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 35)
('2021-01-03', 'eur', 'usd', 1.22, 'EUR', 41)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 20)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 90)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 38)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 88)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 57)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 39)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 51)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 33)
('2021-01-04', 'eur', 'usd', 1.22, 'EUR', 68)